
        <h2 class="text-center orange my-4">Probable Starters</h2>
        <div class="row white opacity-90 pt-2">
            <div id="awayStarter" class="col-lg-5">
                <h5 class="text-center">
                    <p class="d-inline white opacity-90">
                        {{ current.away_starter }}
                        <small class="text-muted pitching-font">
                        {{ current.away_starter_hand }}
                        </small>
                    </p>

                    <span class="light-blue">
                        - {{ away_stats.nickname }}
                    </span>
                </h5>
                <table class="d-flex justify-content-center text-center white opacity-90 mb-2">
                    <tbody> 
                        <tr scope="row">    
                            <td>
                                <p class="mb-0"><small>W/L</small></p>
                                <p class="d-inline">
                                    {{ current.away_starter_record }}
                                </p>
                            </td>
                            <td>
                                <p class="mb-0"><small>IP</small></p>
                                <p class="d-inline pitching-font">
                                    {{ current.away_starter_ip }} 
                                </p>
                            </td>
                            <td>  
                                <p class="mb-0"><small>K</small></p> 
                                <p class="d-inline pitching-font">
                                    {{ current.away_starter_k }}
                                </p> 
                            </td>
                            <td>
                                <p class="mb-0"><small>ERA</small></p>
                                <p class="d-inline pitching-font">
                                    {{ current.away_starter_era }}
                                </p>
                            </td>     
                        </tr>
                        <tr scope="row">    
                            <td>
                                <p class="mb-0"><small>Hits/Start</small></p>
                                <p class="d-inline">
                                    {% if probable_away.hits %}
                                        {{ probable_away.hits|floatformat:2 }}
                                    {% else %}
                                        0.00
                                    {% endif %}      
                                </p>
                            </td>
                            <td class="px-2">
                                <p class="mb-0"><small>Walks/Start</small></p>
                                <p class="d-inline pitching-font">
                                    {% if probable_away.walks %}
                                        {{ probable_away.walks|floatformat:2 }}
                                    {% else %}
                                        0.00
                                    {% endif %}       
                                </p>
                            </td>
                            <td class="pr-2">   
                                <p class="mb-0"><small>HR</small></p>
                                <p class="d-inline pitching-font">
                                    {% if probable_away.hr %}
                                        {{ probable_away.hr }}
                                    {% else %}  
                                        0 
                                    {% endif %}    
                                </p> 
                            </td>
                            <td>
                                <p class="mb-0"><small>ERA/First 5</small></p>
                                <p class="d-inline pitching-font">
                                    {% if probable_away.run_five %}
                                        {{ probable_away.run_five|floatformat:2 }}
                                    {% else %}
                                        0.00
                                    {% endif %}        
                                </p>
                            </td>     
                        </tr>   
                    </tbody>          
                </table> 
                <p class="d-inline light-blue d-flex justify-content-center mb-0">
                    {{ away_stats.nickname}} Bullpen Last 10 Games: &nbsp;
                </p>
                <p class="white opacity-90 text-center mb-0">
                    {{ away_stats.away_bullpen_ten }} <small>IP</small>
                    and {{ away_stats.away_bullpen_era|floatformat:2 }} <small>ERA</small>
                </p>       
            </div>
            <div class="col-lg-2 d-flex align-items-center">
                <div class="col-5"><hr class="rounded orange-background mx-auto"></div>
                <div class="col-2 text-center">vs.</div>
                <div class="col-5"><hr class="rounded orange-background mx-auto"></div>
            </div>
            <div id="homeStarter" class="col-lg-5">          
                <h5 class="text-center">
                    <p class="d-inline white opacity-90">
                        {{ current.home_starter }}
                        <small class="text-muted pitching-font">
                        {{ current.home_starter_hand }}
                        </small>
                    </p>
                    <span class="light-blue">
                        - {{ home_stats.nickname }}
                    </span>
                </h5> 
                <table class="d-flex justify-content-center text-center white opacity-90 mb-2">
                    <tbody> 
                        <tr scope="row">
                            <td>
                                <p class="mb-0"><small>W/L</small></p>
                                <p class="d-inline">
                                    {{ current.home_starter_record }}
                                </p>
                            </td>
                            <td>
                                <p class="mb-0"><small>IP</small></p>
                                <p class="d-inline pitching-font">
                                    {{ current.home_starter_ip }} 
                                </p>
                            </td>
                            <td>   
                                <p class="mb-0"><small>K</small></p>
                                <p class="d-inline pitching-font">
                                    {{ current.home_starter_k }}
                                </p> 
                            </td> 
                            <td>
                                <p class="mb-0"><small>ERA</small></p>
                                <p class="d-inline pitching-font">
                                    {{ current.home_starter_era }}
                                </p>
                            </td>    
                        </tr>  
                        <tr scope="row">
                            <td>
                                <p class="mb-0"><small>Hits/Start</small></p>
                                <p class="d-inline">
                                    {% if probable_home.hits %}
                                        {{ probable_home.hits|floatformat:2 }}
                                    {% else %}
                                        0.00
                                    {% endif %}      
                                </p>
                            </td>
                            <td class="px-2">
                                <p class="mb-0"><small>Walks/Start</small></p>
                                <p class="d-inline pitching-font">
                                    {% if probable_home.walks %}
                                        {{ probable_home.walks|floatformat:2 }}
                                    {% else %}
                                        0.00
                                    {% endif %}
                                </p>
                            </td>
                            <td class="pr-2">   
                                <p class="mb-0"><small>HR</small></p>
                                <p class="d-inline pitching-font">
                                    {% if probable_home.hr %}
                                        {{ probable_home.hr }}
                                    {% else %}  
                                        0
                                    {% endif %}      
                                </p> 
                            </td> 
                            <td>
                                <p class="mb-0"><small>ERA/First 5</small></p>
                                <p class="d-inline pitching-font">
                                    {% if probable_home.run_five %}
                                        {{ probable_home.run_five|floatformat:2 }}
                                    {% else %}
                                        0.00
                                    {% endif %}        
                                </p>
                            </td>    
                        </tr>  
                    </tbody>      
                </table>
                <p class="d-inline light-blue d-flex justify-content-center mb-0">
                    {{ home_stats.nickname}} Bullpen Last 10 Games: &nbsp;
                </p>
                <p class="white opacity-90 text-center">
                    {{ home_stats.home_bullpen_ten }} <small>IP</small>
                    and {{ home_stats.home_bullpen_era|floatformat:2 }} <small>ERA</small>
                </p>    
            </div>     
        </div>