
            
                    <h4 class="dark-blue"><strong>Game Info</strong></h4>
                    <p class="dark-blue mb-1"><i class="fad fa-calendar-alt dark-blue mr-1"></i>{{ date }}<i class="fad fa-clock dark-blue ml-3 mr-1"></i>{{ time }}</p>
                    <br>
                    {% if not awayOdds %} 
                        <p class="dark-blue mb-0"><strong>{{ awayTeam }}</strong>:</p>
                        <p class="dark-blue mb-0">No lines set.</p>
                    {% else %}
                        <p class="dark-blue mb-0"><strong>{{ awayTeam }}</strong>:</p> 
                        <p class="dark-blue mb-0">{{ awaySpread }}&nbsp;&nbsp;
                            {% if "-" in awayOdds %}{{ awayOdds }}{% else %}+{{ awayOdds }}{% endif %}
                        </p>   
                        <p class="dark-blue mb-0">Moneyline:&nbsp;
                        {% if "-" in awayML %}{{ awayML }}{% else %}+{{ awayML }}{% endif %}
                        </p>
                    {% endif %}    
                    <br>
                    {% if not homeOdds %}
                        <p class="dark-blue mb-0"><strong>{{ homeTeam }}</strong>:</p>
                        <p class="dark-blue mb-0">No lines set.</p>
                    {% else %}    
                        <p class="dark-blue mb-0"><strong>{{ homeTeam }}</strong>:</p>
                        <p class="dark-blue mb-0">{{ homeSpread }}&nbsp;&nbsp;
                            {% if "-" in homeOdds %}{{ homeOdds }}{% else %}+{{ homeOdds }}{% endif %}
                        </p>
                        <p class="dark-blue mb-0">MoneyLine:&nbsp;
                            {% if "-" in homeML %}{{ homeML }}{% else %}+{{ homeML }}{% endif %}
                        </p>
                    {% endif %}    
                    <br>
                    {% if not total %}
                    {% else %}
                        <p class="dark-blue mb-0"><strong>O/U</strong>: {{ total }}</p>
                        <p class="dark-blue">Over: {{ over }}&nbsp;&nbsp;Under: {{ under }}</p>
                    {% endif %}    
             