<div class="row">
    <div class="col-12">
        <div id="pitchers" class="">
            <div class="d-flex justify-content-center">
                <div class="col-6 text-right">
                    <h5 class="white d-inline pr-3">
                        {{ current.away_starter }}
                        <small class="text-muted">
                        {{ current.away_starter_hand }}
                        </small>
                    </h5>
                </div>
                <div class="col-6">
                    <p class="white d-inline pr-3">
                        {{ current.away_starter_record }}
                    </p>
                    <p class="white d-inline pr-3">
                        {{ current.away_starter_ip }} 
                        <small>IP</small>
                    </p>
                    <p class="white d-inline pr-3">
                        {{ current.away_starter_era }}
                        <small>ERA</small>
                    </p>
                    <p class="white d-inline">
                        {{ current.away_starter_k }}
                        <small>K</small>
                    </p> 
                </div>    
            </div>          
            <div class="d-flex justify-content-center">
                <div class="col-6 text-right">
                    <h5 class="white d-inline pr-3">
                        {{ current.home_starter }}
                        <small class="text-muted">
                        {{ current.home_starter_hand }}
                        </small>
                    </h5>
                </div>
                <div class="col-6">
                    <p class="white d-inline pr-3">
                        {{ current.home_starter_record }}
                    </p>
                    <p class="white d-inline pr-3">
                        {{ current.home_starter_ip }} 
                        <small>IP</small>
                    </p>
                    <p class="white d-inline pr-3">
                        {{ current.home_starter_era }}
                        <small>ERA</small>
                    </p>
                    <p class="white d-inline">
                        {{ current.home_starter_k }}
                        <small>K</small>
                    </p> 
                </div>    
            </div>          
        </div>    
    </div>
</div>    
<div class="row">
    <div class="col-12 col-md-4 col-lg-3">
        {% include 'includes/mlb_carousel.html' %}
        {% include 'includes/mlb_info_box.html' %}
    </div>
    
    <div class="col-12 col-md-4 col-lg-3">
        <h5 class="white"></h5>
    </div>
</div>
