{% include 'includes/games_carousel.html' %}
<div id="info-box">
    <div class="row mx-1">
        <div class="col-3 white opacity-90 info-column text-center pt-1 px-0">
            {% for game in game_lines %}        
                {% if game.game_id == gameID %}
                    <p id="time">
                        {% if game.status == 'in progress' %}
                            <small class="orange"><strong>In Progress</strong></small>
                        {% endif %}
                        {% if game.status == 'scheduled' %}
                            <small class="white"><strong>{{ game.gamedate|time }} ET</strong></small>
                        {% endif %} 
                        {% if game.status == 'final' %}
                            <small class="green"><strong>Final</strong></small>  
                        {% endif %}
                    </p>    
                    <h4 class="text-center mb-2">{{ game.away_team }}</h4>
                    <p class="light-blue text-center mb-2">
                        <small id="away_spread">
                        {% if game.away_spread == 0.0 %}
                            no line set    
                        {% elif game.away_spread < 0 %}
                            Spread: {{ game.away_spread }}
                        {% else %}
                            Spread: +{{ game.away_spread }}
                        {% endif %}
                        </small>
                        &nbsp;&nbsp;
                        <small id="away_odds">
                        {% if game.away_odds == 0 %}
                        {% elif game.away_odds < 0 %}
                            Odds: {{ game.away_odds }}
                        {% else %}
                            Odds: +{{ game.away_odds }}
                        {% endif %}
                        </small>
                        &nbsp;&nbsp;
                        <small id="away_moneyline">
                        {% if game.away_moneyline == 0 %}
                        {% elif game.away_moneyline < 0 %}
                            ML: {{ game.away_moneyline }}
                        {% else %}
                            ML: +{{ game.away_moneyline }}
                        {% endif %}
                        </small>
                    </p>
                    <div class="row">
                        <div class="col-5"><hr class="rounded orange-background mx-auto"></div>
                        <div class="col-2 orange text-center">at</div>
                        <div class="col-5"><hr class="rounded orange-background mx-auto"></div>
                    </div>
                    <h4 class="text-center mb-2">{{ game.home_team }}</h4>
                    <p class="light-blue text-center mb-3">
                        <small id="home_spread">
                        {% if game.home_spread == 0.0 %}
                            no line set    
                        {% elif game.home_spread < 0 %}
                            Spread: {{ game.home_spread }}
                        {% else %}
                            Spread: +{{ game.home_spread }}
                        {% endif %}
                        </small>
                        &nbsp;&nbsp;
                        <small id="home_odds">
                        {% if game.home_odds == 0 %}
                        {% elif game.home_odds < 0 %}
                            Odds: {{ game.home_odds }}
                        {% else %}
                            Odds: +{{ game.home_odds }}
                        {% endif %}
                        </small>
                        &nbsp;&nbsp;
                        <small id="home_moneyline">
                        {% if game.home_moneyline == 0 %}
                        {% elif game.home_moneyline < 0 %}
                            ML: {{ game.home_moneyline }}
                        {% else %}
                            ML: +{{ game.home_moneyline }}
                        {% endif %}
                        </small>
                    </p>
                    <p class="light-blue text-center mb-0">
                        <small id="total">Total: {{ game.total|floatformat }}</small>
                    </p>
                    <p class="light-blue text-center mb-3">
                        <small id="over">
                        {% if game.over_odds == 0 %}
                        {% elif game.over_odds < 0 %}
                            Over: {{ game.over_odds }}
                        {% else %}
                            Over: +{{ game.over_odds }}
                        {% endif %}
                        </small>
                        &nbsp;&nbsp;
                        <small id="under">
                        {% if game.under_odds == 0 %}
                        {% elif game.under_odds < 0 %}
                            Under: {{ game.under_odds }}
                        {% else %}
                            Under: +{{ game.under_odds }}
                        {% endif %}
                        </small>
                    </p>
                {% endif %}
            {% endfor %}           
            {% include 'includes/mlb_weather_box.html' %}
        </div>
    </div>
</div>    
