<div id="records" class="orange-box p-2 pb-0 white opacity-90">
    <table>
        <tbody>
            <tr scope="row">
                <td class="">
                    <p class="text-center dark-blue mb-0">Team</p>
                    <p class="text-right mb-0">{{ current.away_team }}</p>
                    <p class="text-right">{{ current.home_team }}</p>
                </td>
                <td class="px-3 text-center">
                    <p class="dark-blue mb-0"><small>Win/Loss</small></p>
                    <p class="mb-0">{{ away_stats.total_wins }} - {{ away_stats.total_loss }}</p>
                    <p>{{ home_stats.total_wins }} - {{ home_stats.total_loss }}</p>
                </td>
                <td class="text-center">
                    <p class="dark-blue mb-0"><small>Home/Road</small></p>
                    <p class="mb-0">Road {{ away_stats.wins_away }} - {{ away_stats.loss_away }}</p>
                    <p>Home {{ home_stats.wins_home }} - {{ home_stats.loss_home }}</p>
                </td>
            </tr>
        </tbody>    
    </table>
</div>    