
        <div id="twitter_accordion">
            <div id="home_twitter_card" class="card">
                <div id="homeHeader" class="d-flex justify-content-center align-items-center">
                    <a class="btn-link btn white pb-0 pr-1" data-toggle="collapse" data-parent="#twitter_accordion" data-target="#homeInner" aria-expanded="true" aria-controls="homeInner">
                        <h3 class="d-inline">{{ home_user.name }}</h3>
                    </a>
                    <i class="fas fa-badge-check light-blue d-inline"></i>
                </div>
                <div class="light-blue text-center">
                    <a class="light-blue team-website" target="_blank" href="{{ home_user.url }}">
                        <i class="fad fa-link opacity-90 mr-1"></i>
                        {{ home_user.screen_name }}.com
                    </a>
                    <i class="fad fa-map-marker-alt ml-4 mr-1"></i>
                        {{ home_user.location}}
                </div>
                <div id="homeInner" class="card-inner collapse show" aria-labelledby="homeHeader" data-parent="#twitter_accordion">
                    <div class="tweet-box">
                        <div class="h-100 overflow-auto pt-0 p-2">
                            <hr class="rounded light-blue-background mx-auto mt-1 mb-3">
                            <p class="dark-blue opacity-90 text-center my-2">
                                {{ home_user.description }}
                            </p>
                            {% for tweet in home_tweets %}
                                <div class="white opacity-90">
                                    <p class="">
                                        <i class="fab fa-twitter light-blue mr-2"></i>
                                        {{ home_twitter|title }} -
                                        <small class="light-blue">{{ tweet.created_at|date }}</small>
                                    </p>
                                    <p class="card-text">{{ tweet.text }}</p>
                                    {% if 'media' in tweet.entities %}
                                        {% for media in tweet.extended_entities.media %}
                                            <a href="#" class="pop">
                                                <img class="tweet-media mb-2"  src="{{ media.media_url }}" alt="">
                                            </a>     
                                        {% endfor %}
                                    {% endif %}        
                                </div>
                                <hr class="rounded light-blue-background mx-auto my-3">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>    
            <div id="away_twitter_card" class="card weather-box">
                <div id="awayHeader" class="d-flex justify-content-center align-items-center">
                    <a class="btn-link white btn collapsed mb-0 pr-1" data-toggle="collapse" data-parent="#twitter_accordion" data-target="#awayInner" aria-expanded="false" aria-controls="awayInner">
                        <h3 class="d-inline">{{ away_user.name }}</h3>
                    </a>
                    <i class="fas fa-badge-check light-blue d-inline"></i>
                </div>
                <div class="light-blue text-center">
                    <a class="light-blue team-website" target="_blank" href="{{ away_user.url }}">
                        <i class="fad fa-link mr-1"></i>
                        {{ away_user.screen_name }}.com
                    </a>
                    <i class="fad fa-map-marker-alt ml-4 mr-1"></i>
                        {{ away_user.location}}
                </div> 
                <div id="awayInner" class="card-inner collapse" aria-labelledby="awayHeader" data-parent="#twitter_accordion">
                    <div class="tweet-box">
                        <div class="h-100 overflow-auto pt-0 p-2">
                            <hr class="rounded light-blue-background mx-auto mt-1 mb-3">
                            <p class="orange opacity-90 text-center my-2">
                                {{ away_user.description }}
                            </p>
                            {% for tweet in away_tweets %}
                                <div class="white opacity-90">
                                    <p class="">
                                        <i class="fab fa-twitter light-blue mr-2"></i>
                                        {{ away_twitter|title }} -
                                        <small class="light-blue">{{ tweet.created_at|date }}</small>
                                    </p>
                                    <p class="card-text">{{ tweet.text }}</p>
                                    {% if 'media' in tweet.entities %}
                                        {% for media in tweet.extended_entities.media %}
                                            <a href="#" class="pop">
                                                <img class="tweet-media mb-2"  src="{{ media.media_url }}" alt="">
                                            </a>     
                                        {% endfor %}
                                    {% endif %}        
                                </div>
                                <hr class="rounded light-blue-background mx-auto my-3">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-labelledby="twitterMedia" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="img">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <img class="media-modal" src="" alt="">
                    </div>
                </div>
            </div>
        </div>