{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}"/>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="container-fluid"> 
            {% if league == 'MLB' %}
                {% include 'includes/mlb_matchup.html' %}
            {% endif %} 
        </div>    
    </div>      
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
<!-- Add 'active' to first carousel-item in for loop -->    
    <script>
        $(document).ready(function () {
          $('#game-carousel').find('.carousel-item').first().addClass('active');
        });
    </script>
{% endblock %}
                            