{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="content">
        <div class="container-fluid"> 
            {% if league == 'MLB' %}
                {% include 'includes/mlb_matchup.html' %}
            {% endif %} 
        </div>    
    </div>      
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#game-carousel').find('.carousel-item').first().addClass('active');
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.btn-link').on('click', function() {
                if (!$(this).hasClass('collapsed')) {
                    $($('.btn-link').not(this).data('target')).collapse('show')
                }
            });
        });       
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.pop').on('click', function() {
                $('.media-modal').attr('src', $(this).find('img').attr('src'));
                $('#mediaModal').modal('show');
            });
        });
    </script>
{% endblock %}
                            