{% extends "base.html" %}
{% load static %}

{% block extra_js %}
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js" integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg==" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="container-fluid"> 
            {% if league == 'MLB' %}
                {% include 'includes/mlb_matchup.html' %}
            {% endif %} 
        </div>    
    </div>      
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        var data = '{% for runs in home_stats %}{{ runs.runs }}{% endfor %}'
        var labels = '{% for game in home_stats %}{{ forloop.counter }}{% endfor %}';
    </script>
    <script type="text/javascript" src="{% static 'js/matchup.js' %}"></script>
  
{% endblock %}
                            