{% extends "base.html" %}
{% load static %}
{% block extra_js %}
{% endblock %}

{% block content %}
    <div id="content">
        <div class="container-fluid">           
            <div class="row mb-2">
                <div class="col-12 col-md-6 col-lg-3">
                    <div id="carousel">
                        {% include 'mlb_includes/mlb_carousel.html' %}
                    </div>
                    <div id="info-box" >    
                        {% include 'mlb_includes/mlb_info_box.html' %}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div id="probable_starters">
                        {% include 'mlb_includes/mlb_pitchers.html' %}
                    </div> 
                    <div id="game_picks">
                        {% include 'mlb_includes/mlb_picks.html' %}
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-3">
                    <div id="twitter_accordion">
                        {% include 'mlb_includes/twitter.html' %}
                    </div>
                </div>
            </div>
            <div class="row mx-2">
                <div id="stat-box" class="d-none d-lg-block">
                    {% include 'mlb_includes/mlb_stat_box.html' %}
                </div> 
            </div>
            <div class="row d-lg-none mx-2">   
                <div id="mobile_stat_box" class="col-12 mb-4">
                    {% include 'mlb_includes/mlb_stat_mobile.html' %}
                </div>
            </div>
        </div>    
    </div>      
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    
    <script src="{% static 'js/matchup.js' %}"></script>
  
{% endblock %}
                            