{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="content">
        <div class="container-fluid">
            <div class="row header-container-shadow mx-3">
                <div class="col-md-6 my-auto">
                    <div class="py-1 mx-3">
<!-- SM Screens -->
                    {% if request.user.is_authenticated %}
                        <h1 class="d-flex d-md-none home-callout white justify-content-center mt-2">
                            Welcome Back, NAME HERE!
                        </h1>
                    {% else %}
                        <h1 class="d-flex d-md-none header light-blue montserrat justify-content-center">
                            MR. PREGAME
                        </h1>
                        <h2 class="d-flex d-md-none white montserrat sub-header justify-content-center">
                            Sports Betting Management
                        </h2>
                    {% endif %}    
<!-- MD/LG Screens -->              
                    {% if request.user.is_authenticated %}
                        <h1 class="d-none d-md-flex header light-blue montserrat justify-content-center">
                            MR. PREGAME
                        </h1>
                        <h2 class="d-none d-md-flex white montserrat sub-header justify-content-center">
                            Sports Betting Management
                        </h2>
                        
                    {% else %}
                        <h1 class="d-none d-md-flex home-callout white justify-content-center">
                            Welcome Back,<br>NAME HERE!
                        </h1>
                    {% endif %}
                    </div>    
                </div>
                <div class="col-12 col-md-6">
                    <img src="/media/ipaddesk.png" class="img-fluid callout-img ml-2" alt="Responsive image">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% if request.user.is_authenticated %}
                        <h4 class="d-flex justify-content-center my-3">
                            <a class="register-link orange" href="">Click here to view your profile.</a>
                        </h4>
                    {% else %}
                        <h4 class="d-flex justify-content-center my-3">
                            <a class="register-link orange" href="{% url 'account_signup' %}">Click here to get started!</a>
                        </h4>
                    {% endif %}        
                </div>
            </div>
            <hr class="rounded orange-background mx-auto my-4">
            
            <div class="row h-100 mx-3">
                <div class="col-12 col-md-6 icon-box">
                    <div class="row text-center">
                        <div class="col-6">
                            <i class="far fa-analytics orange"></i>
                        </div>
                        <div class="col-6">
                            <i class="far fa-sack-dollar light-blue"></i>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-6">
                            <i class="far fa-list-ol blue"></i>
                        </div>
                        <div class="col-6">
                            <i class="far fa-search-dollar white"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 icon-box">
                    <div class="row text-center">
                        <div class="col-6">
                            <i class="far fa-analytics orange"></i>
                        </div>
                        <div class="col-6">
                            <i class="far fa-sack-dollar light-blue"></i>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-6">
                            <i class="far fa-list-ol blue"></i>
                        </div>
                        <div class="col-6">
                            <i class="far fa-search-dollar white"></i>
                        </div>
                    </div>
                </div>
                    
            </div>    
        
            <div class="row header-container-shadow mx-3 my-3 p-3">
                <div class="col-12 col-md-6">
                    <img class="d-flex justify-content-center img-fluid moneybag-banner-img mx-auto w-50" src="/media/money_bag3.png" alt="responsive image">
                </div>
                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center my-3">
                    <h1 class="home-callout white d-flex justify-content-center align-items-center h-100 my-auto">Bet Tracking,<br>Custom Stats,<br>Guaranteed Picks.</h1>
                </div>
            </div>
        </div>

        
    </div>
{% endblock %}