{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}


{% block content %}
<div id="content">
    <div class="container-fluid">
        <!-- Only render if user has paid subscription -->
        {% if not profile.stripe_subscription_id %}
        <div class="row m-3">
            <div class="col-12 col-md-6 d-flex flex-column align-items-center mb-3">
                <div id="join-now-text" class="d-flex flex-column">
                    <h1 class="white opacity-90 mb-2">Subscribe for access!</h1>
                    <ul>
                        <li class="light-blue opacity-90 mb-2">$30/monthly</li>
                        <li class="light-blue opacity-90 mb-2">$1 refund for all incorrect guaranteed picks</li>
                        <li class="light-blue opacity-90 mb-2">Premium and Guaranteed Picks</li>
                        <li class="light-blue opacity-90 mb-2">Custom Bet Tracking <small>(Coming Soon)</small></li>
                    </ul>
                </div>
                <div class="">
                    <a class="btn nav-login orange-background white opacity-90 mt-3" href="{% url 'get_membership' %}">Subscribe</a>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                <img class="join-now-img" src="https://mrpregame.s3.amazonaws.com/media/money_bag3.png" alt="">
            </div>
        </div>
        {% endif %}
        {% if profile.stripe_subscription_id %}
<!-- Button Trigger for Profile Info Modal -->
            <div class="row mb-3">
                <div class="col-12 d-flex justify-content-end align-items-start">
                    <button type="button" class="logout btn light-blue opacity-90" data-toggle="modal" data-target="#profileInfo">
                        Profile Info <i class="fad fa-cogs"></i>
                    </button>
                </div> 
<!-- Edit Profile Info Modal --> 
                <div class="modal fade" id="profileInfo" tabindex="-1" role="dialog" aria-labelledby="profileInfo" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content darkblue-box p-2">
                            <div class="modal-body white opacity-90">
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn logout white opacity-90" data-dismiss="modal">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h1 class="orange font-700 text-center">Payment Info</h1>
                                    </div>
                                </div>
                                <form class="light-blue" id="editProfileInfo" method="POST" action="{% url 'profile' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 col-md-6 my-2">
                                            <p class="mb-0">Name</p>
                                            <h3 class="white opacity-90">{{ profile.full_name }}</h3>
                                        </div>    
                                        <div class="col-12 col-md-6 my-2">
                                            {{ form.phone_number|as_crispy_field }}
                                        </div>    
                                        <div class="col-12 col-md-6 my-2">
                                            {{ form.street_address1|as_crispy_field }}
                                        </div>    
                                        <div class="col-12 col-md-6 my-2">
                                            {{ form.street_address2|as_crispy_field }}
                                        </div>    
                                        <div class="col-12 col-md-6 my-2">
                                            {{ form.town_or_city|as_crispy_field }}
                                        </div>    
                                        <div class="col-12 col-md-6 my-2">
                                            {{ form.postcode|as_crispy_field }}
                                        </div>
                                        <div class="col-12">    
                                            {{ form.user|as_crispy_field }}
                                        </div>
                                        <div class="col-12 d-flex justify-content-center">
                                            <button id="update-button" class="btn white orange-background signin-button mt-3" type="submit">Update</button>
                                        </div>   
                                    </div>
                                </form>          
                            </div>
                            <div class="modal-footer d-flex justify-content-center pt-0 border-0">
                                <a class="btn profile-btn orange opacity-90" href="{% url 'cancel_subscription' %}">
                                    Cancel Subscription
                                </a>
                                <a class="btn profile-btn white opacity-90" href="{% url 'account_email' %}">
                                    Change Email
                                </a>     
                                <a class="btn profile-btn white opacity-90" href="{% url 'account_change_password' %}">
                                    Change Password
                                </a>    
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="row text-center my-2">
                <div class="col-12">
                    <h1 class="orange opacity-90">Today's Picks</h1>
                </div>
            </div>
            <div class="row mx-3">
<!-- Get all of todays games that have a pick -->
                {% for game in all_games %}
                    {% if game.gamedate|date == date_LA and game.pick %}
                        <div class="col-12 col-md-4 col-lg-3 mb-3">
                            <div class="lightblue-box d-flex flex-column align-items-center white opacity-90 pb-1">
                                <div class="pick-box d-flex flex-column align-items-center w-100 p-2">
                                    {% if game.pick_type == 'Guaranteed' %}    
                                        <img class="guaranteed-img m-1" src="https://mrpregame.s3.amazonaws.com/media/moneypile.png" alt="">
                                    {% endif %}    
                                    <small class="light-blue">
                                        {{ game.gamedate|time }}ET
                                    </small> 
                                    <h4 class="">{{ game.away_team }}</h4>
                                    <h5 class="">
                                        <i class="fad fa-horizontal-rule orange mr-2"></i>
                                        <i class="fad fa-at orange"></i>
                                        <i class="fad fa-horizontal-rule orange ml-2"></i>
                                    </h5>
                                    <h4 class="">{{ game.home_team }}</h4>
<!-- Button trigger modal -->
                                    <button type="button" class="btn pick-btn orange-background white opacity-90 my-2" data-toggle="modal" data-target="#gamePickModal{{ forloop.counter }}">
                                        {% if game.pick_type == 'Guaranteed' %}
                                            Guaranteed
                                        {% elif game.pick_type == 'Premium Pick' %}
                                            Premium Pick
                                        {% else %}
                                            My Best Guess
                                        {% endif %}
                                    </button>
                                </div>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="px-1">
                                                <p class="white opacity-90 text-right mb-0">
                                                    <strong>{{ game.away_abbr }}:</strong>
                                                </p>
                                            </td>
                                            <td class="px-1">
                                                <p class="white opacity-90 mb-0"> 
                                                    {% if game.away_spread > 0 %} 
                                                        +{{ game.away_spread }} 
                                                    {% else %} 
                                                        {{ game.away_spread }} 
                                                    {% endif %}
                                                </p>
                                            </td>
                                            <td class="px-1">
                                                <p class="white opacity-90 mb-0">
                                                    {% if game.away_odds > 0 %} 
                                                        +{{ game.away_odds }} 
                                                    {% else %} 
                                                        {{ game.away_odds }} 
                                                    {% endif %}
                                                </p>
                                            </td>
                                            <td class="px-1">
                                                <p class="white opacity-90 mb-0">
                                                    <strong>ML:</strong> 
                                                    {% if game.away_moneyline > 0 %} 
                                                        +{{ game.away_moneyline }} 
                                                    {% else %} 
                                                        {{ game.away_moneyline }} 
                                                    {% endif %}
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="px-1">
                                                <p class="white opacity-90 text-right mb-0">
                                                    <strong>{{ game.home_abbr }}:</strong>
                                                </p>
                                            </td>
                                            <td class="px-1">
                                                <p class="white opacity-90 mb-0">
                                                    {% if game.home_spread > 0 %} 
                                                        +{{ game.home_spread }} 
                                                    {% else %} 
                                                        {{ game.home_spread }} 
                                                    {% endif %}
                                                </p>
                                            </td>
                                            <td class="px-1">
                                                <p class="white opacity-90 mb-0">
                                                    {% if game.home_odds > 0 %} 
                                                        +{{ game.home_odds }} 
                                                    {% else %} 
                                                        {{ game.home_odds}} 
                                                    {% endif %}
                                                </p>
                                            </td>
                                            <td class="px-1">
                                                <p class="white opacity-90 mb-0">
                                                    <strong>ML:</strong> 
                                                    {% if game.home_moneyline > 0 %} 
                                                        +{{ game.home_moneyline }} 
                                                    {% else %} 
                                                        {{ game.home_moneyline }} 
                                                    {% endif %}
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
<!-- Game Pick Modal -->
                            <div class="modal fade" id="gamePickModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-hidden="true"
                            aria-labelledby="gamePickModal{{ forloop.counter }}" >
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content darkblue-box p-2">
                                        <div class="row">       
                                            <div class="col-12">
                                                <h3 class="game-summary white opacity-90 text-center font-800 mb-0">
                                                    {{ game.summary }}
                                                </h3>
                                                <p class="white opacity-90 my-1 text-center">
                                                    {{ game.venue }} - {{ game.city }}, {{ game.state }}
                                                </p>
                                                {% if game.status != 'scheduled' %}
                                                    <p class="orange opacity-90 mb-0 mt-1 text-center">
                                                        <i class="fad fa-clock orange pr-2"></i>
                                                        {{ game.status|upper }}
                                                        {% if game.current_inning and game.status != 'final' %}
                                                            - {{ game.current_inning|ordinal }} inning
                                                        {% endif %} 
                                                    </p>
                                                {% else %}
                                                    <p class="white opacity-90 mb-0 text-center">
                                                        <i class="fad fa-calendar-alt orange pr-2"></i>
                                                        {{ game.gamedate|date }} 
                                                        <i class="fad fa-clock orange pl-4 pr-2"></i>
                                                        {{ game.gamedate|time }} 
                                                        <small>ET</small>
                                                    </p>
                                                {% endif %}    
                                              
                                            </div>    
                                        </div>    
                                        <hr class="rounded orange-background mx-auto my-0">
                                        <div class="modal-body white opacity-90">
                                        {{ game.pick|linebreaks }}
                                        </div>
                                        <div class="modal-footer d-flex justify-content-center border-0">
                                        <!-- Send Matchup Game Data to Template -->                    
                                            <form action="{% url 'mlb_matchup' %}" method="GET">
                                                {% csrf_token %}
                                                <input type="hidden" id="gameId{{ forloop.counter }}" 
                                                            name="gameId" value="{{ game.gameID }}">
                                                <input type="hidden" id="city{{ forloop.counter }}"
                                                            name="city" value="{{ game.city }}">
                                                <input type="hidden" id="league{{ forloop.counter }}"
                                                            name="league" value="{{ game.league }}">        
                                                <button class="btn matchup-btn orange-background white opacity-90" type="submit">
                                                    Matchup
                                                </button>
                                            </form> 
                                            <button type="button" class="btn white opacity-90 light-blue-background nav-login" data-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>    
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}    
    </div>
</div>
{% endblock %}
