
<div class="container-fluid px-0">
    <div class="row px-0 mx-0">
        <div class="col-12 col-md-6 flex-column home-callout-margin px-0"> 
            <h1 class="d-flex justify-content-center home-callout font-700 white">
                Welcome Back,<br>{{ request.user.username }}!
            </h1>
        </div> 
        <div class="col-12 col-md-6 home-callout-img px-0">
            <img src="/media/ipaddesk.png" class="img-fluid callout-img-shadow" alt="Responsive image">
        </div>
    </div>    

    <!-- Social Media ToolBar -->            
    <div class="row social-row white-background mr-0">
        <div class="d-none d-md-flex col-md-6 d-flex justify-content-center align-items-center">
            <h2 class="social-banner dark-blue">Today's Picks</h2>
        </div>
        <div class="col-4 col-md-2 d-flex justify-content-center light-blue-background twitter-border py-2">
            <a target="_blank" href="https://twitter.com/MrPregame">
            <i class="twitter-icon fab fa-twitter white" aria-hidden="true"></i>
            <span class="sr-only">Twitter</span>
            </a>
        </div>
        <div class="col-4 col-md-2 d-flex justify-content-center orange-background py-2">
            <a target="_blank" href="https://www.instagram.com/misterpregame/">
            <i class="fab fa-instagram white" aria-hidden="true"></i>
            <span class="sr-only">Instagram</span>
            </a>
        </div>
        <div class="col-4 col-md-2 d-flex justify-content-center blue-background py-2">
            <a target="_blank" href="https://www.facebook.com/">
            <i class="fab fa-facebook-f white" aria-hidden="true"></i>
            <span class="sr-only">Facebook</span>
            </a>
        </div>
    </div>
   
    <div class="info-container pb-lg-5">
        <div class="row">
            <a class="white" href="{% url 'signup' %}">Join</a>
        </div>
    </div>
</div>     
