body, html {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    background-color:rgb(13, 29, 53);
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content{
    flex-grow:1;
}

a{
    text-decoration:none !important; 
}

hr{
    width:85%;
}

img {
    max-width:100%;
    height:auto;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.font-700{
    font-weight:700;
}
    
/*---------- Colors ----------*/
.dark-blue{
    color:rgb(19, 35, 58);
}

.dark-blue-background{
    background-color:rgb(19, 35, 58);
}

.blue{
    color:#067EED;
}

.blue-background{
    background-color:#067EED;
}

.light-blue{
    color:#C1E6FF;
}

.light-blue-background{
    background-color:#C1E6FF;
}

.orange{
    color:#FF7C1F;
}

.orange-background{
    background-color:#FF7C1F;
}

.white{
    color:#FFFFFF
}

/* Gradient - https://uigradients.com/#Royal */
.top-left-gradient{
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,  #20354d, #141e30); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #20354d, #141e30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.top-right-gradient{
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #141e30, #20354d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #141e30, #20354d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*---------------------------------------- base.html ----------------------------------------*/

/*---------- Navigation ----------*/
.navbar{
    margin-right:1.5rem;
    margin-left:1.5rem;
}

.mrpregame{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color:#C1E6FF;
    font-size:25px;
    display:inline-block;
}

.mrpregame:hover{
    color:#C1E6FF;
}

.moneynav{
    image-rendering: -moz-crisp-edges;
    image-rendering:   -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.nav-link:hover,
.nav-link:active{
    color:#C1E6FF;
}

.nav-login{
    border-radius:20px;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.nav-login:hover{
    color:#C1E6FF;
    background-color:#ffffff;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    font-size:25px;
}

.no-show{
    display:none;
}
/*---------- Footer ----------*/
.page-footer{
    width:100%;
    bottom:0;
    left:0;
}

.list-inline li{
    display:inline;
}

.list-inline li i{
    font-size:30px;
}

.list-inline li i:hover{
    color:white;
}

/*---------------------------------------- Homepage/index.html ----------------------------------------*/

/* Drop Shadow - https://css-irl.info/drop-shadow-the-underrated-css-filter/ */
.navy-container-shadow{
    border:3px solid rgba(0, 7, 26, 0.336);
    border-radius:20px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.534));
}

.callout-img{
    border-radius: 18px;
    position:relative;
    left:5px;
}

.header{
    font-size:5vw;
    text-shadow:0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.342);
}

.sub-header{
    font-size:30px;
}

.home-callout{
    font-size:5vw;
}

.home-img-row{
    width:70%;
}

.register-link{
    font-size:3vw;
}

.register-link:hover{
    color:#C1E6FF;
}

.mr-moneybag{
    width:50%;
}

.better{
    font-size:5vw;
}

.better-link{
    font-size:2vw;
}

.better-link:hover{
    color:#C1E6FF;
}

.img-shadow{
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.747));
}


/*---------- Media Queries ----------*/

@media (max-width: 1200px) {
    .sub-header{
        font-size:19px;
    }
}

@media (max-width: 991px) {
    .nav-img{
        width:65%;
    }

    .mrpregame{
        margin-right:50px;
    }
}
@media (max-width: 767px) {
    .header{
        font-size:55px;
    }

    .home-callout,
    .register-link{
        font-size:40px;
    }

    .home-img-row{
        width:85%;
    }

    .mrpregame{
        margin-right:40px;
    }
}

@media (max-width: 576px) {
    .header{
        font-size:45px;
    }

    .home-callout,
    .register-link{
        font-size:35px;
    }

    .mr-moneybag{
        width:75%;
    }

    .better{
        font-size:25px;
    }

    .better-link{
        font-size:12px;
    }

    .mrpregame{
        margin-right:30px;
    }

}

@media (max-width: 475px) {
    .navbar{
        margin-right:1rem;
        margin-left:1rem;
    }

    .header{
        font-size:30px;
    }

    .fa-plus-circle,
    .fa-minus-circle{
        font-size:40px;
    }

    .sub-header{
        font-size:15px;
    }

    .home-callout,
    .register-link{
        font-size:25px;
    }

    .better{
        font-size:20px;
    }

    .better-link{
        font-size:10px;
    }

    .home-img-row{
        width:100%;
    }

    .mrpregame{
        display:none;
    }
}

@media (max-width: 375px) {
    .header{
        font-size:25px;
    }

    .sub-header{
        font-size:12px;
    }

    .home-callout,
    .register-link{
        font-size:20px;
    }

    .better{
        font-size:15px;
    }
}

@media (max-width: 330px) {
    .moneynav{
        padding-right:0;
    }

    .header{
        font-size:23px;
    }

    .sub-header{
        font-size:10px;
    }

    .home-callout,
    .register-link{
        font-size:17px;
    }
}

@media (min-width: 1500px) {
    .mrpregame,
    .sub-header{
        font-size:40px;
    }

    .nav-login{
        font-size:30px;
    }

    .nav-link,
    .copyright{
        font-size:25px;
    }
    
    .list-inline li i{
        font-size:50px;
    }
}

@media (min-width: 2000px) {
    .mrpregame,
    .sub-header{
        font-size:50px;
    }

    .nav-login{
        font-size:40px;
    }

    .nav-link,
    .copyright{
        font-size:35px;
    }
    
    .list-inline li i{
        font-size:60px;
}
}

