body, html {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    background-color:rgb(1, 27, 65);
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content{
    flex-grow:1;
}

a {
  text-decoration:none !important; 
}

/*---------- Colors ----------*/
.blue{
    color:#067EED;
}

.blue-background{
    background-color:#067EED;
}

.light-blue{
    color:#C1E6FF;
}

.light-blue-background{
    background-color:#C1E6FF;
}

.orange{
    color:#FF7C1F;
}

.blue-background{
    background-color:#FF7C1F;
}

.white{
    color:#FFFFFF
}

/*---------- Navigation ----------*/
.mrpregame{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color:#C1E6FF;
    font-size:25px;
}

.mrpregame:hover{
    color:#C1E6FF;
}

.moneynav{
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */

}

.nav-login{
    border-radius:20px;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.nav-login:hover{
    color:#C1E6FF;
    background-color:#ffffff;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    font-size:25px;
}
