body, html {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    background-color:rgb(13, 29, 53);
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content{
    flex-grow:1;
}

a{
    text-decoration:none !important; 
}

hr{
    width:85%;
}

img {
    max-width:100%;
    height:auto;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.font-800{
    font-weight:800;
}

.font-700{
    font-weight:700;
}

.border-radius{
    border-radius:50px;
}

.opacity-90{
    opacity:90%;
}

.no-show{
    display:none;
}
    
/*---------- Colors ----------*/
.dark-blue{
    color:rgb(19, 35, 58);
}

.dark-blue-background{
    background-color:rgb(13, 29, 53);
}

.blue{
    color:#067EED;
}

.blue-background{
    background-color:#067EED;
}

.light-blue{
    color:#C1E6FF;
}

.light-blue-background{
    background-color:#c1e6ffd5;
}

.orange{
    color:#FF7C1F;
}

.orange-background{
    background-color:#FF7C1F;
}

.white{
    color:#FFFFFF;
}

.white-background{
    background-color:#FFFFFF;
}

.green{
    color:greenyellow;
}

/*---------- Toasts ----------*/
.message-container{
    position:fixed;
    top:72px;
    right:15px;
    z-index: 99999999999;
}

.toast{
    background-color:rgb(19, 35, 58);

}

.toast-header{
    background-color:rgb(19, 35, 58);
}

.toast-img{
    width:15%;
}

/*---------------------------------------- base.html ----------------------------------------*/

/*---------- Navigation ----------*/
.navbar{
    margin-right:1.5rem;
    margin-left:1.5rem;
}

.mrpregame{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color:#C1E6FF;
    font-size:25px;
    display:inline-block;
    margin-left:20px;
}

.mrpregame:hover{
    color:#C1E6FF;
}

.nav-img{
    width:65px;
}

.nav-img,
.nav-img-sm{
    image-rendering: -moz-crisp-edges;
    image-rendering:   -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.nav-link:hover,
.nav-link:active{
    color:#C1E6FF;
}

.logout:hover{
    color:white;
}

.nav-login{
    border-radius:50px;
    font-size:22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    box-shadow:0px 8px 15px rgba(0, 0, 0, 0.507);
    transition:all 0.3s ease 0s;
    outline:none;
}

.nav-login:hover{
    color:white;
    background-color:#FF7C1F;
    box-shadow:0px 8px 15px rgba(0, 0, 0, 0.507);
    transform:translateY(-7px)
}

.nav-login-xs{
    display:none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.fa-plus-circle,
.fa-minus-circle{
    font-size:40px;
}

.league-list {
  list-style:none;
}

.league{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}
.league:hover,
.league a:hover{
    color:#C1E6FF;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}
/*---------- Footer ----------*/
.page-footer{
    width:100%;
    bottom:0;
    left:0;
}

.list-inline li{
    display:inline;
}

.list-inline li i{
    font-size:30px;
}

.list-inline li i:hover{
    box-shadow:0px 8px 15px rgba(0, 0, 0, 0.507);
    transform:translateY(-7px);
    color:#C1E6FF;
}

/*----------------------------- AllAuth Templates --------------------------------*/
.signin-button{
    border-radius:50px;
    font-size:22px;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    box-shadow:0px 8px 15px rgba(0, 0, 0, 0.507);
    transition:all 0.3s ease 0s;
}

.signin-button:hover{
    color:white;
    transform:translateY(-7px);
}

.fa-user-unlock,
.register,
.fa-user-lock,
.fa-key,
.fa-paper-plane{
    font-size:15rem;
    --fa-secondary-opacity: 0.50;
    --fa-primary-color:rgb(11, 25, 46);
    --fa-secondary-color:#FF7C1F;
}

.allauth-btn{
    border-radius:50px;
    font-size:22px;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    transition:all 0.3s ease 0s;
    outline:none;
}

.allauth-btn:hover{
    color:white;
    transform:translateY(-7px);
}
/*----------------------------- Homepage/index.html -------------------------------*/

/*---------- Sign in/ Register Side Tabs ----------*/
.icons{
    position:fixed;
    top:41%;
    left:0%;
    width:200px;
}

.icons a{
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    font-size:22px;
    padding:10px;
    margin:2px 2px 2px 0px;
    text-align:right;
    border-radius:0px 50px 50px 0px;
    transform:translate(-125px, 0px);
    -webkit-transform:translate(-125px, 0px);
    -moz-transform:translate(-125px, 0px);
    -o-transform:translate(-125px, 0px);
    -ms-transform:translate(-125px, 0px);
    transition: all 0.5s;
}

.icons a:hover{
    transform:translate(0px, 0px);
    -webkit-transform:translate(0px, 0px);
    -moz-transform:translate(0px, 0px);
    -o-transform:translate(0px, 0px);
    -ms-transform:translate(0px, 0px);
    color:white;
}

.icons a:hover i{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
    transition:all 1.0s;
}

.icons a i{
    margin-left:25px;
    background-color:white;
    height:40px;
    width:40px;
    text-align:center;
    line-height:40px;
    border-radius:50%;
    transition:all 0.5s;
}

.home-callout-img{
    margin-top:70px;
}

.callout-img-shadow{
    filter: drop-shadow(-0.35rem -0.35rem 0.6rem rgba(0, 0, 0, 0.747));
}

.home-callout-margin{
    margin-top:55px;
}

.header{
    font-size:5vw;
    margin:0 0 0 5rem;
}

.sub-header{
    font-size:30px;
    margin:0 0 0 5rem;
}

.register-button{
    margin:3rem 0 0 5rem;
    border-radius:50px;
    font-size:22px;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    box-shadow:0px 8px 15px rgba(0, 0, 0, 0.507);
    transition:all 0.3s ease 0s;
    outline:none;
}

.register-button:hover{
    color:white;
    background-color:#C1E6FF;
    box-shadow:0px 8px 15px rgba(0, 0, 0, 0.507);
    transform:translateY(-7px)
}

.home-callout{
    font-size:5vw;
}

.margin-80{
    margin-left:80px;
    margin-right:80px;
}

.twitter-border{
    border-radius:50px 0 0 50px;
}

.social-row,
.pick-social-row{
    margin-left:80px;
    border-radius:50px 0 0 0;
}

.fa-instagram,
.fa-facebook-f,
.twitter-icon,
.social-banner{
    font-size:50px;
}

.fa-facebook-f:hover{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
    transition:all 1.0s;
}

.fa-instagram:hover{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
    transition:all 1.0s;
}

.twitter-icon:hover{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
    transition:all 1.0s;
}

.info-container,
.pick-container{
    margin-left:80px;
    border:3px solid white;
    border-top:none;
    border-right:none;
    border-radius:0 0 0px 50px;
    background-color:white;
}

.mockup-row{
    margin:0 0 0 60px;
    border-radius:40px 0 0 40px;
    box-shadow: 0 0 10px;
}

.moneypile-row{
    margin:0 0 0 60px;
    border-radius:40px 0 0 40px;
    box-shadow: 0 0 10px;
}

.mr-moneybag{
    width:50%;
}

.better{
    font-size:5vw;
}

.better-link:hover{
    color:#C1E6FF;
}

.img-shadow{
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.747));
}

.fa-comment{
    font-size:13rem;
}

/*----------------------------- Games/games.html -------------------------------*/

.gamecard{
    background-color:rgb(15, 33, 61);
    box-shadow: 0 0 10px rgba(8, 19, 34, 0.726);
    border-radius:20px;
}

.edit-btn:hover{
    color:#C1E6FF;
}

.matchup-btn{
    border-radius:50px;
    font-size:22px;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    box-shadow:0px 8px 15px rgba(0, 0, 0, 0.507);
    transition:all 0.3s ease 0s;
    outline:none;
}

.matchup-btn:hover{
    color:white;
    box-shadow:0px 8px 15px rgba(0, 0, 0, 0.507);
    transform:translateY(-7px)
}

.spread{
    font-size:30px;
}

.day-form-btn{
    background:none;
    border:none;
}

.day-form-btn:hover{
    color:white;
}

.desk-bored{
    width:70%;
}

/*----------------------------- Admin -------------------------------*/
.form-header-anchor:hover{
    color:white;
}

.mr-hitter{
    width:50%;
}

.holding-img{
    width:500px;
}

/*----------------------------- Matchup -------------------------------*/

.fa-cloud-showers-heavy{
    --fa-primary-color:white;
    --fa-secondary-color:#067EED;
    --fa-secondary-opacity: 1.00;
}

.lightblue-box{
    background-color:#c1e6ff7a;
    border-radius:20px;
    box-shadow: 0 0 10px rgba(8, 19, 34, 0.726);
}

.darkblue-box{
    background-color:rgb(19, 35, 58);
    box-shadow: 0 0 10px rgba(8, 19, 34, 0.726);
    border-radius:20px;
}

.carousel-view-button:hover{
    background-color:#c1e6ff7a;
    color:white;
}

/*----- Z-index to carousel to prevent elements from 'blinking' on slide change -----*/
#game-carousel{
    z-index:1000;
}

.matchup-box-height{
    height:375px;
}

#home_twitter_card{
    background-color:transparent;
}

.card{
    border:none !important;
}

.tweet-media,
.modal-content,
.media-modal{
    box-shadow: 0 0 10px rgba(8, 19, 34, 0.726);
    border-radius:20px;
}

.btn-link:hover{
    color:#C1E6FF;
}

.team-website:hover{
    color:white;
}

.run-chart{
    position: relative;
    margin: auto;
    width: 100%;
}

.stat-table th{
    font-weight:normal;
}

/*---------- get_membership checkout ----------*/
#loading, 
#games-loading,
#matchup-loading{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9999;
    background:rgb(13, 29, 53, .85);
}

.loading-spinner{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0;
    height:100%;
}

.get-membership-img{
    width:50%;
}
/*---------- Profiles ----------*/
.pick-box{
    background-color:rgb(13, 29, 53);
    box-shadow: 0 0 10px rgba(8, 19, 34, 0.726);
    border-radius:20px;
    position:relative;
}

.guaranteed-img{
    width:50px;
    position:absolute;
    left:5px;
    filter: blur(0);
    -webkit-filter: blur(0);
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.join-now-img{
    width:30%;
}

#join-now-text h3{
    font-size:20px;
}

.profile-btn:hover{
    color:white;
}

/*---------- Error Templates ----------*/
.error{
    font-size:8vw;
}

/*---------- Media Queries ----------*/

@media (max-width: 1200px) {
    .sub-header{
        font-size:25px;
    }

    .home-callout{
        font-size:60px;
    }

    .fa-instagram,
    .fa-facebook-f,
    .twitter-icon,
    .social-banner{
        font-size:40px;
    }

    .mr-hitter{
        width:60%;
    }

    .get-membership-img{
        width:60%;
    }
}

@media (max-width: 991px) {
    .nav-img-sm{
        width:75px;
    }

    .mrpregame{
        margin-right:50px;
    }

    .home-callout{
        font-size:50px;
    }

    .sub-header{
        font-size:20px;
    }

    .fa-instagram,
    .fa-facebook-f,
    .twitter-icon,
    .social-banner{
        font-size:35px;
    }

    .social-row{
        margin-left:80px;
        border-radius:50px 0 0 50px;
    }

    .info-container{
        margin-left:0;
        border:none;
        border-top:none;
        border-right:none;
        border-radius:0;
        background-color:rgb(13, 29, 53);
    }

    .mr-hitter{
        width:80%;
    }

    .join-now-img{
        width:40%;
    }

    .get-membership-img{
        width:70%;
    }
}

@media (max-width: 800px) {
    .header{
        font-size:35px;
    }

    .sub-header{
        font-size:18px;
    }

    .register-button{
        font-size:20px;
    }

    .social-row{
        margin-left:70px;
    }

    .social-banner{
        font-size:30px;
    }

    .holding-img{
        width:500px;
    }

}
@media (max-width: 767px) {
    .home-callout{
        font-size:40px;
    }

    .home-callout-img{
        margin-top:20px;
    }    

    .home-callout-margin{
        margin-top:0px;
    }

    .home-img-row{
        width:85%;
    }

    .mrpregame{
        margin-right:40px;
        font-size:25px;
    }

    .nav-img-sm{
        width:60px;
    }

    .header{
        margin:0;
        font-size:60px;
    }

    .sub-header{
        margin:0;
        font-size:25px;
    }

    .margin-80,
    .pick-social-row,
    .social-row{
        margin-left:0px;
        margin-right:0px;
    }

    .social-row,
    .pick-social-row,
    .twitter-border{
        border-radius:0;
    }

    .better{
        font-size:40px;
    }

    .register-button{
        margin:0;
    }

    .fa-user-unlock,
    .register,
    .fa-user-lock,
    .fa-key,
    .fa-paper-plane{
        font-size:10rem;
    }

    .pick-container{
        margin-left:0;
        border:none;
        border-top:none;
        border-right:none;
        border-radius:0;
        background-color:rgb(13, 29, 53);
    }
}

@media (max-width: 576px) {
    .header{
        font-size:45px;
    }

    .home-callout{
        font-size:35px;
    }

    .mr-moneybag{
        width:75%;
    }

    .better{
        font-size:30px;
    }

    .mrpregame{
        margin-right:30px;
        font-size:20px;
    }

    .nav-login{
        box-shadow:none;
        transition:none;
    }

    .nav-login:hover{
        box-shadow:none;
        transform:none;
    }

    .join-now-img{
        width:50%;
    }
}

@media (max-width: 475px) {
    .navbar{
        margin-right:1rem;
        margin-left:1rem;
    }

    .sub-header{
        font-size:20px;
    }

    .home-callout,
    .register-link{
        font-size:25px;
    }

    .better{
        font-size:25px;
    }

    .home-img-row{
        width:100%;
    }

    .nav-img{
        width:50px;
    }

    .mrpregame{
        margin-left:20px;
        margin-right:0;
    }

    .fa-plus-circle,
    .fa-minus-circle,
    .fa-user-lock{
        font-size:30px;
    }
}

@media (max-width: 375px) {
    .header{
        font-size:33px;
    }

    .sub-header{
        font-size:18px;
    }

    .home-callout,
    .register-link{
        font-size:20px;
    }

    .better{
        font-size:23px;
    }

    .mrpregame{
        font-size:20px;
    }

    .nav-img{
        width:40px;
    }

    .nav-login{
        font-size:15px;
    }
}

@media (max-width: 330px) {
    .nav-img{
        padding-right:0;
    }

    .home-callout,
    .register-link{
        font-size:17px;
    }

    .mrpregame{
        font-size:18px;
    }

    .fa-plus-circle,
    .fa-minus-circle{
        font-size:25px;
    }
}

@media (min-width: 1500px) {
    .sub-header{
        font-size:40px;
    }

    .nav-link,
    .logout,
    .copyright,
    .icons a,
    .nav-login,
    .register-button{
        font-size:25px;
    }
    
    .list-inline li i{
        font-size:50px;
    }

    .icons{
    top:30%;
    }

    .mockup-row p{
        font-size:22px;
    }

    .mockup-row h4{
        font-size:32px;
    }

    .moneypile-row p{
        font-size:22px;
    }

    .moneypile-row h4{
        font-size:32px;
    }
}

@media (min-width: 2000px) {
    .mrpregame{
        font-size:35px;
    }
    .sub-header{
        font-size:50px;
    }

    .nav-link,
    .copyright,
    .nav-login,
    .logout,
    .register-button{
        font-size:35px;
    }
    
    .list-inline li i{
        font-size:60px;
    }

    .nav-img{
        width:100px;
    }

    .icons{
        top:33%;
        width:300px;
    }

    .icons a{
        font-size:35px;
        padding:20px;
        transform: translate(-192px, 0px);
    }

    .icons a i{
        height:60px;
        width:60px;
        line-height:60px;
    }

    .mockup-row p{
        font-size:30px;
    }

    .mockup-row h4{
        font-size:40px;
    }

    .moneypile-row p{
        font-size:30px;
    }

    .moneypile-row h4{
        font-size:40px;
    }
}

