body, html {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    background-color:#0E3854;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content{
    flex-grow:1;
}