<div id="weather" class="darkblue-box text-center py-2">  
<!-- Game Stadium and City -->
    <p class="white mb-1"><i class="fad fa-map-marker-alt orange mr-1"></i>
        {{ current.venue }} - {{ current.city }}, {{ current.state }}
    </p>  
    <div class="">
        {% for weather in weather_data|slice:":5" %}
            <div class="d-inline-block white text-center mx-1 text-nowrap">
<!-- Time -->                
                <p class="mb-1"><small>{{ weather.gameTime }}</small></p>
<!-- Weather Icons -->
                {% if weather.gameWeather == 'Clear' %}
                    <p class="mb-1"><i class="fad fa-sun-cloud"></i></p>
                {% endif %}
                {% if weather.gameWeather == 'Clouds' %}
                    <p class="mb-1"><i class="fad fa-clouds"></i></p>
                {% endif %}
                {% if weather.gameWeather == 'Rain' %}
                    <p class="mb-1"><i class="fad fa-cloud-showers-heavy"></i></p>
                {% endif %}
                {% if weather.gameWeather == 'Haze' or weather.gameWeather == 'Fog' %}
                    <p class="mb-1"><i class="fad fa-fog"></i></p>
                {% endif %}
                {% if weather.gameWeather == 'Drizzle' or weather.gameWeather == 'Mist' %}
                    <p class="mb-1"><i class="fad fa-cloud-drizzle"></i></p>
                {% endif %}
                {% if weather.gameWeather == 'Thunderstorm' %}
                    <p class="mb-1"><i class="fad fa-thunderstorm"></i></p>
                {% endif %}
                {% if weather.gameWeather == 'Snow' %}
                    <p class="mb-1"><i class="fad fa-cloud-snow"></i></p>
                {% endif %}
<!-- Temperature -->
                <p class="mb-1"><small>{{ weather.gameTemp }}°</small></p>     
            </div>
        {% endfor %}
    </div>     
</div>
            