<div id="stat-container">
    <div class="row">
        <div class="col-12">
            <h2 class="orange opacity-90 text-center mb-0">Team Stats</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-5 d-flex justify-content-center">
            <table class="stat-table light-blue opacity-90 text-center text-nowrap">
                <thead>
                    <tr>
                        <th scope="col">{{ away_stats.nickname }}</th>
                        <th scope="col"></th>
                        <th scope="col">{{ home_stats.nickname }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="white opacity-90">{{ away_stats.games_played }}</td>
                        <th class="px-4">Games Played</th>
                        <td class="white opacity-90">{{ home_stats.games_played }}</td>
                    </tr>
                    <tr class="lower">
                        <td class="green">{{ away_stats.total_errors }}</td>
                        <th>Errors</th>
                        <td class="green">{{ home_stats.total_errors }}</td>
                    </tr>
                    <tr class="higher">
                        <td class="white opacity-90">{{ away_stats.avg_runs|floatformat:2 }}</td>
                        <th>Avg Runs/9</th>
                        <td class="white opacity-90">{{ home_stats.avg_runs|floatformat:2 }}</td>
                    </tr>
                    <tr class="lower">
                        <td class="green">{{ away_stats.avg_runs_allowed|floatformat:2 }}</td>
                        <th>Runs Allowed/9</th>
                        <td class="green">{{ home_stats.avg_runs_allowed|floatformat:2 }}</td>
                    </tr> 
                    <tr class="higher">
                        <td class="white opacity-90">{{ away_stats.ba|floatformat:3|slice:"1:" }}</td>
                        <th class="">Team BA</th>
                        <td class="white opacity-90">{{ home_stats.ba|floatformat:3|slice:"1:" }}</td>
                    </tr>    
                    <tr class="lower">
                        <td class="green">{{ away_stats.opponent_ba|floatformat:3|slice:"1:" }}</td>
                        <th>BA Allowed</th>
                        <td class="green">{{ home_stats.opponent_ba|floatformat:3|slice:"1:" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-5 d-flex justify-content-center">
            <table class="stat-table light-blue opacity-90 text-center text-nowrap">
                <thead>
                    <tr>
                        <th scope="col">{{ away_stats.nickname }}</th>
                        <th scope="col"></th>
                        <th scope="col">{{ home_stats.nickname }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="higher">
                        <td class="white opacity-90">{{ away_stats.avg_runs_five|floatformat:2 }}</td>
                        <th>Avg Runs/5</th>
                        <td class="white opacity-90">{{ home_stats.avg_runs_five|floatformat:2 }}</td>
                    </tr>   
                    <tr class="lower">
                        <td class="green">{{ away_stats.avg_runs_allowed_five|floatformat:2 }}</td>
                        <th class="px-4">Runs Allowed/5</th>
                        <td class="green">{{ home_stats.avg_runs_allowed_five|floatformat:2 }}</td>
                    </tr>    
                    <tr class="higher">
                        <td class="white opacity-90">{{ away_stats.total_hr }}</td>
                        <th>Home Runs</th>
                        <td class="white opacity-90">{{ home_stats.total_hr }}</td>
                    </tr>    
                    <tr class="lower">
                        <td class="green">{{ away_stats.opponent_hr }}</td>
                        <th>HR Allowed</th>
                        <td class="green">{{ home_stats.opponent_hr }}</td>
                    </tr>    
                    <tr class="lower">
                        <td class="green">{{ away_stats.total_k }}</td>
                        <th>Offense K's</th>
                        <td class="green">{{ home_stats.total_k }}</td>
                    </tr>
                    <tr class="higher">
                        <td class="white opacity-90">{{ away_stats.total_def_k }}</td>
                        <th>Defense K's</th>
                        <td class="white opacity-90">{{ home_stats.total_def_k }}</td>
                    </tr>   
                </tbody>
            </table>
        </div>
    </div>        
</div>