
    <div id="game-carousel" class="carousel slide mb-3" data-ride="carousel">
        <div class="carousel-inner white opacity-90">
        {% for game in all_games %}
            {% if game.gamedate|date == date_LA %}
                <div class="carousel-item">     
<!-- Game Time or Status -->                               
                    <div class="text-center">
                        {% if game.status == 'in progress' %}
                            <small class="orange">In Progress</small>
                        {% endif %}
                        {% if game.status == 'scheduled' %}
                            <small class="white">
                            <i class="fad fa-clock orange pr-1"></i>
                            {{ game.gamedate|time }} ET
                            </small>
                        {% endif %} 
                        {% if game.status == 'final' %}
                            <small class="green">Final</small>  
                        {% endif %}
                        {% if game.status == 'canceled' or game.status == 'postponed' %}
                            <small class="orange">Canceled/Postponed</small>
                        {% endif %}    
                    </div>
<!-- Game Lines or Score Depending on Status -->
                    <table class="d-flex justify-content-center white opacity-90">
                        <tbody>
                            <tr> 
                                <td class="text-right pr-2">
<!-- Away Team and Moneyline -->                                     
                                    <div>    
                                        <p class="m-0 text-right">
                                            <small class="d-inline-block">
                                            {{ game.away_team}}
                                            </small>
                                            &nbsp;&nbsp;
                                            <small>
                                            {% if game.status == 'in progress' or game.status == 'final' %}
                                                {{ game.away_score }}
                                            {% else %}
                                                {% if game.away_moneyline == 0 %}    
                                                {% elif game.away_moneyline < 0 %}
                                                    {{ game.away_moneyline }}
                                                {% else %}
                                                    +{{ game.away_moneyline }}
                                                {% endif %}
                                            {% endif %}    
                                            </small>
                                        </p>
                                    </div>
<!-- Home Team and Moneyline -->
                                    <div>      
                                        <p class="mb-0 text-right">
                                            <small class="d-inline-block">
                                            {{ game.home_team}}
                                            </small>
                                            &nbsp;&nbsp;
                                            <small>
                                            {% if game.status == 'in progress' or game.status == 'final' %}
                                                {{ game.home_score }}
                                            {% else %}
                                                {% if game.home_moneyline == 0 %}
                                                {% elif game.home_moneyline < 0 %}
                                                    {{ game.home_moneyline }}
                                                {% else %}
                                                    +{{ game.home_moneyline }}
                                                {% endif %}
                                            {% endif %}    
                                            </small>
                                        </p>
                                    </div>
                                </td>        
<!-- Form to Send GameID to View and Switch Game in Template --> 
                                <td class="pl-2">
                                    <form action="{% url 'mlb_matchup' %}" method="GET">
                                        {% csrf_token %}
                                        <input type="hidden" id="gameId{{ forloop.counter }}" 
                                                            name="gameId" value="{{ game.gameID }}">
                                        <input type="hidden" id="city{{ forloop.counter }}" 
                                                            name="city" value="{{ game.city }}">
                                        <input type="hidden" id="league{{ forloop.counter }}"
                                                            name="league" value="{{ game.league }}">    
                                        <button class="btn white opacity-90 orange-background p-1 carousel-view-button" type="submit">
                                            View    
                                        </button>
                                    </form>
                                </td>     
                            </tr>       
                        </tbody>    
                    </table>  
                </div>           
            {% endif %}
        {% endfor %}
        </div>
<!-- Carousel Controls -->           
        <a class="carousel-control-prev pr-4" href="#game-carousel" role="button" data-slide="prev">
            <i class="fas fa-chevron-left orange" aria-hidden="true"></i>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next pl-4" href="#game-carousel" role="button" data-slide="next">
            <i class="fas fa-chevron-right orange" aria-hidden="true"></i>
            <span class="sr-only"></span>
        </a>     
    </div>   
