{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    {% for schedule in games.results %}
                        {% for game in schedule %}
                        <p class="white">{{ game }}</p>
                        <p class="white"></p>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>    
    </div>      
{% endblock %}