
    <div class="row mx-3 mb-1">
        <div class="d-none d-sm-block col-6 orange copyright">© 2021 Copyright: Mr. Pregame</div>
        <div class="col-12 col-sm-6 text-center">
            <ul class="list-inline float-sm-right">
                <li class="mx-3">
                    <a target="_blank" href="https://www.facebook.com/">
                    <i class="fab fa-facebook-square orange" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                    </a>
                </li>
                <li class="mr-3">
                    <a target="_blank" href="https://twitter.com/MrPregame">
                    <i class="fab fa-twitter-square orange" aria-hidden="true"></i>
                    <span class="sr-only">Twitter</span>
                    </a>
                </li>
                <li class="mr-3">
                    <a target="_blank" href="https://www.instagram.com/misterpregame/">
                    <i class="fab fa-instagram-square orange" aria-hidden="true"></i>
                    <span class="sr-only">Instagram</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
   