{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
    <div id="content">
        <div class="container-fluid">
            <div class="row d-flex mt-lg-5">
                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center mb-4">
                    <i class="fad fa-key"></i>
                </div> 
                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                    <div class="flex-column">  
                        <h1 class="orange font-700 mb-3">{% trans "Password Reset" %}</h1>
                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}

                        <p class="white">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset light-blue">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input  class="btn white orange-background signin-button my-3" type="submit" value="{% trans 'Reset My Password' %}" />
                        </form>

                        <p class="white">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                    </div>    
                </div>        
            </div>
            <div class="row mt-4">
                <div class="col-12 d-flex justify-content-center">
                    <div class="">
                        <a href="{% url 'home' %}" class="btn allauth-btn light-blue">Back Home</a>
                    </div>        
                </div>
            </div>
        </div>    
    </div>        
{% endblock %}
