{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1 class="orange text-center mb-5">Game Lines</h1>
                </div>
            </div>
            <div class="row mx-1">
                <div class="col-12 col-md-4 mb-5">
                    <form class="white" method="POST" action="{% url 'edit_gamelines' game.game_id %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 white text-center mb-3">
                                <h5>{{ game.away_abbr }} @ {{ game.home_abbr }}</h5>
                                <h6>{{ game.gamedate|date }}</h6>
                            </div> 
                            <div class="col-12 orange text-center">
                                {{ game.away_team }}
                            </div>
                            <div class="col-12">
                                {{ form.away_starter|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.away_starter_era|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.away_starter_k|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.away_starter_record|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.away_spread|as_crispy_field }}
                            </div>  
                            <div class="col-4">
                                {{ form.away_odds|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.away_moneyline|as_crispy_field }}
                            </div>
                            <div class="col-12 orange text-center mt-3">
                                {{ game.home_team }}
                            </div>
                            <div class="col-12">
                                {{ form.home_starter|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.home_starter_era|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.home_starter_k|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.home_starter_record|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.home_spread|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.home_odds|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.home_moneyline|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.total|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.under_odds|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.over_odds|as_crispy_field }}
                            </div>
                            <div class="col-12 orange text-center mt-3">
                                Pick
                            </div>
                            <div class="col-12">
                                {{ form.pick_type|as_crispy_field }}
                            </div>
                            <div class="col-12">
                                {{ form.pick|as_crispy_field }}
                            </div> 
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <a class="btn nav-login white orange-background mr-2" href="{% url'games' %}">Cancel</a>
                            <button type="submit" class="btn nav-login light-blue-backgrounwhite">Save</button>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}