{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <h1 class="orange">Site Admin</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="">
                        <a class="white" href="{% url 'add_basketball' %}">Add Basketball</a>
                    </div>
                    <div class="">
                        <a class="white" href="{% url 'add_baseball_away' %}">Add Baseball</a>
                    </div>
                    <div class="">
                        <a class="white" href="{% url 'add_pitcher_away' %}">Add Pitcher</a>
                    </div>
                    <div class="">
                        <form method="GET" action="{% url 'final_scores' %}">
                            {% csrf_token %}
                            <input type="hidden" id="league2" name="leagueName" value="MLB">
                            <input type="hidden" id="tomorrow2" name="gameDate" value="{{ today }}">
                            <button type="submit" class="btn white">Get Scores</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mx-5 d-flex justify-content-center align-items-center">
                        <img class="img-fluid img-shadow img-resize w-75" src="/media/admin.png" alt="responsive image">
                    </div>    
                </div>    
            </div>                                                  
       </div>
    </div>
{% endblock %}
