{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="content">
        <div class="row mx-3">
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center mb-5">
                <h1 class="error orange opacity-90">ERROR 500</h1>
                <h2 class="white opacity-90">Ummmm.... what?</h2>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                <img class="img-fluid img-shadow img-resize w-50" src="https://mrpregame.s3.amazonaws.com/media/error_page.png" alt="responsive image">
            </div>
        </div>
    </div>
{% endblock %}
