   
    <div class="row px-2">
        {% for game in all_games %}
            {% if game.gamedate|date == date_LA %} 
                <div class="col-12 col-lg-6 mb-4">                
                    <div class="gamecard p-2">
<!-- Edit Game Line Button -->
                        {% if request.user.is_superuser %}
                            <div class="row mb-2">
                                <div class="col-12 text-center">
                                    <small>
                                        <a class="edit-btn orange" href="{% url 'edit_gamelines' game_id=game.id %}">Edit Game</a>
                                    </small>
                                </div>
                            </div>        
                        {% endif %}                        
<!-- Teams/Location/Time -->
                        <div class="row">       
                            <div class="col-12">
                                <h3 class="game-summary white opacity-90 text-center font-800 mb-0">
                                    {{ game.summary }}
                                </h3>
                                {% if game.status != 'scheduled' %}
                                    <p class="orange opacity-90 mb-0 mt-1 text-center">
                                        <i class="fad fa-clock orange pr-2"></i>{{ game.status|upper }} -
                                        {{ game.current_inning }} inning 
                                    </p>
                                {% else %}
                                    <p class="white opacity-90 mb-0 text-center">
                                        <i class="fad fa-calendar-alt orange pr-2"></i>{{ game.gamedate|date }} 
                                        <i class="fad fa-clock orange pl-4 pr-2"></i>{{ game.gamedate|time }} 
                                        <small>ET</small>
                                    </p>
                                {% endif %}    
                                <p class="white opacity-90 mb-2 text-center">
                                    <small>{{ game.venue }} - {{ game.city }}, {{ game.state }}</small>
                                </p>
                            </div>    
                        </div>    
                        <hr class="rounded orange-background mx-auto my-0">
<!-- GameLines and Scores -->                    
                    <!-- If Game is in Progress or Final Show Scores -->     
                        {% if game.status == 'in progress' or game.status == 'final' %}

                            {% include 'includes/game_in_progress.html' %}
                            
                            <hr class="rounded orange-background mx-auto my-0">
          
                        {% else %}
                    <!-- If Game Odds Have Already Been Set Render the Lines else 'No Lines Yet' -->
                            {% if game.home_spread == 0.0 %}

                                {% include 'includes/mlb_no_line.html' %}

                                <hr class="rounded orange-background mx-auto my-0">

                            {% else %}        
                                <div class="row mt-2">
                                    <div class="col-4 d-flex justify-content-end">
                                        <p class="mt-2 light-blue text-center">
                                            <strong class="white opacity-90">
                                            {{ game.away_abbr }}
                                            </strong><br>
                                        <!-- If Away Team Point Spread Greater than 0 show '+' else '-' -->
                                            <span class="spread">
                                                {% if game.away_spread > 0 %} 
                                                    +{{ game.away_spread }} 
                                                {% else %} 
                                                    {{ game.away_spread }} 
                                                {% endif %}
                                            </span>
                                            <br>
                                        <!-- If Away Team Favored Show '+' with Moneyline else '-'  -->
                                            <span class="away-odds">
                                            Odds 
                                            {% if game.away_odds > 0 %} 
                                                +{{ game.away_odds }} 
                                            {% else %} 
                                                {{ game.away_odds }} 
                                            {% endif %}
                                            </span>
                                            <br>
                                            <span class="away-moneyline">    
                                                ML 
                                                {% if game.away_moneyline > 0 %} 
                                                    +{{ game.away_moneyline }} 
                                                {% else %} 
                                                    {{ game.away_moneyline }} 
                                                {% endif %}
                                            </span>    
                                        </p>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center align-items-center">
                                        <h2 class="orange"><i class="fad fa-at"></i></h2>
                                    </div>
                                    <div class="col-4 d-flex justify-content-start">   
                                        <p class="mt-2 light-blue text-center">
                                            <strong class="white opacity-90">
                                                {{ game.home_abbr }}
                                            </strong><br>
                                        <!-- If Home Team Point Spread Greater than 0 show '+' else '-' -->
                                            <span class="spread">
                                                {% if game.home_spread > 0 %}
                                                    +{{ game.home_spread }} 
                                                {% else %} 
                                                    {{ game.home_spread }} 
                                                {% endif %}
                                            </span><br>
                                        <!-- If Home Team Favored Show '+' with Moneyline else '-'  --> 
                                            <span class="home-odds">
                                                Odds 
                                                {% if game.home_odds > 0 %} 
                                                    +{{ game.home_odds }} 
                                                {% else %} 
                                                    {{ game.home_odds }} 
                                                {% endif %}
                                            </span>
                                            <br>
                                            <span class="home-moneyline">
                                                ML 
                                                {% if game.home_moneyline > 0 %} 
                                                    +{{ game.home_moneyline }} 
                                                {% else %} 
                                                    {{ game.home_moneyline }} 
                                                {% endif %} 
                                            </span> 
                                        </p>
                                    </div>    
                                </div> 
                                <p class="light-blue text-center">
                                    Over/Under: {{ game.total }}
                                </p>
                                <hr class="rounded orange-background mx-auto my-0">
                            {% endif %} 
                        {% endif %}        
<!-- Matchup Button and Hidden Input Fields for Matchup Field-->            
                        <div class="row mt-3 mb-1"> 
                            <div class="col-12 d-flex justify-content-center">
                                {% include 'includes/matchup_form.html' %}
                            </div>     
                        </div>    
                    </div>
                </div>
            {% endif %}    
        {% endfor %}           
    </div>  