

<!-- Gameday variable starts off as 'none' (which sends a default API call) unless form is submitted -->
            {% if gameday == today or gameday is none %}
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <h1 class="orange">Today's Games</h1>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12 d-flex justify-content-center">
                        <form method="GET">
                            {% csrf_token %}
                            <input type="hidden" id="tomorrow" name="gameDate" value="{{ tomorrow|date:'Y-m-d' }}">
                            <input type="hidden" id="league" name="leagueName" value="{{ league }}">
                            <button class="btn day-form-btn light-blue opacity-90" type="submit">
                                View Tomorrow's Games<i class="far fa-angle-double-right ml-1"></i>
                            </button>
                        </form>
                    </div>
                </div>
            {% else %} 
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <h1 class="orange">Tomorrow's Games</h1>
                    </div>
                </div>   
                <div class="row mb-4">
                    <div class="col-12 d-flex justify-content-center">
                        <form method="GET">
                            {% csrf_token %}
                            <input type="hidden" id="today" name="gameDate" value="{{ today }}">
                            <input type="hidden" id="league2" name="leagueName" value="{{ league }}">
                            <button class="btn day-form-btn light-blue opacity-90" type="submit">
                                <i class="far fa-angle-double-left mr-1"></i>Back To Today's Games
                            </button>
                        </form>
                    </div>
                </div>    
            {% endif %}    